#form-file-upload {
    height: 6rem;
    width:25rem;
    max-width: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto;

}

#input-file-upload {
    display: none;
}

#label-file-upload {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(-57deg, #ffffff, #ffffff 26.1px, transparent 29px, transparent 49.7px, #ffffff 52px), repeating-linear-gradient(33deg, #ffffff, #ffffff 26.1px, transparent 29px, transparent 49.7px, #ffffff 52px), repeating-linear-gradient(123deg, #ffffff, #ffffff 26.1px, transparent 29px, transparent 49.7px, #ffffff 52px), repeating-linear-gradient(213deg, #ffffff, #ffffff 26.1px, transparent 29px, transparent 49.7px, #ffffff 52px);
    background-size: 3px calc(100% + 95.48px), calc(100% + 95.48px) 3px, 3px calc(100% + 95.48px) , calc(100% + 95.48px) 3px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    animation: borderAnimation 1s infinite linear;

    border-color: #ffffff;
    background-color: transparent;
    margin-top: 5%;
}
@keyframes borderAnimation {
    from { background-position: 0 0, -95.48px 0, 100% -95.48px, 0 100%; }
    to { background-position: 0 -95.48px, 0 0, 100% 0, -95.48px 100%; }
}
.upload-button-text {
    line-height: 70%;
    cursor: pointer;
    padding: -1rem;
    font-size: 1rem;
    border: none;
    font-family: 'Chalkboard';
    background-color: transparent;
    color: #ffffff;
}

#label-file-upload.drag-active {
    background-color: #ffffff;
}
#label-file-upload.drag-active:hover {
    background-color: rgb(227, 150, 62);
}

.upload-button {
    cursor: pointer;
    padding: 0.05rem;
    font-size: 1.2rem;
    border: none;
    /*font-family: 'Chalkboard';*/
    background-color: transparent;
    color:#ffffff;
    margin-left: 70px;
    flex-wrap: wrap;
    display: flex;
    width: 200px;
}

.upload-button:hover {
    text-decoration-line: underline;
    color:rgb(227, 150, 62)
}

#drag-file-element {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.upload-div {
    position:absolute;
    width: 100px;
    height: 80px;
    left: 50px;
    bottom: 6px;
    margin-left: -40px;    
}

.upload-icon {

    width: 50px;
    height: 50px;
    left: 50px;
    
}
/* Base */
/* .gg-software-upload {
    margin: 0 auto;
    box-sizing: border-box;
    position: fixed;
    display: block;
    transform: scale(var(--ggs,1));
    width: 80px;
    height: 20px;
    border: 5px solid;
    border-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-top: 25px;
    margin-left: -25px
} */
/* arrow */
/* .gg-software-upload::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 50px;
    height: 50px;
    border-left: 7px solid;
    border-top: 7px solid;
    transform: rotate(45deg);
    left: -1.5px;
    bottom: 4px;
    margin-left: 13px
} */
/* bar */
/* .gg-software-upload::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 5px;
    height: 60px;
    background: currentColor;
    left: 34px;
    bottom: 3px
} */