.App {
  text-align: center;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.left_part {
  width: 350px; /* Fixed width for the left part */
  flex-shrink: 0;
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 30px;
  background: rgba(133,133,148,0.1);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (min-width: 975px) {
  .Main {
    display: flex;
    flex-wrap: nowrap;
    width: 100%; /* Ensures that the Main container spans the full width */
    box-sizing: border-box;
    flex-grow: 1;
  }
}

@media (max-width: 975px) {
  .Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }
  .Main .right_part {
    flex-grow: 1; /* Takes up the remaining space */
    flex-shrink: 1; /* Allows shrinking if necessary */
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; /* Includes padding and border in the width */
    padding-left: 50px;
    padding-right: 50px;

  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.description-contents {
  justify-content: center;
}
::-webkit-scrollbar {
  width: 17px;
} /*전체의 width값*/
::-webkit-scrollbar-thumb {
  background-color: #61dafb; /*막대의 색상 지정*/
  border-radius: 12px;
  /*thunb와 track사이의 공간 만들기(padding과 margin은 적용X)*/
  background-clip: padding-box;
  border: 3px solid transparent;
}
body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 1); /*배경 컬러지정*/
}
::-webkit-scrollbar-corner {
  background-color: transparent;
  border: none;
}
.description {
  font-family: 'Roboto Mono', monospace;
  color: #8DA890;
  text-align: justify;
  width: 100%;
  border: #1B1B1B;
  border-style: solid;
  border-left: transparent;
  border-right: transparent;
  /*background-color: rgba(27,27,27,0.7);*/
  padding-bottom: 4px;
  padding-top: 4px;
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
  /*border-radius: 10px;*/
}
.description2 {
  font-family: 'Roboto Mono', monospace;
  color: #8DA890;
  text-align: justify;
  width: 100%;

  max-height: 180px;
  overflow: scroll;
  border-top: #1B1B1B;
  border-style: solid;
  border-left: transparent;
  border-right: transparent;
  border-bottom:  transparent;
  padding-top: 4px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Main {
  /* display: flex; */
}
.Title-Wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.File_name {
  margin-top: 55px;
  /* position: absolute; */
  color: #00C6B2;
  font-size: x-large;
  font-family: 'Roboto Mono', monospace;
}
.empty_file_name {
  min-height: 103.4px;
}
.title {

  margin-bottom: 10px;
  color: #00C6B2;
  font-size: 35px;
  font-family: "Kiwi Maru", serif;
  font-weight: lighter;
}
.tab {
  display: inline-block;
  margin-left: 3.3em;
}

.sub-title {
  margin-top: 0px;
  margin-left: 90px;
  font-size: xx-large;
  white-space: pre-line;
  color: #64ccc5;
  font-family: "Sometype Mono", monospace;
  font-weight: lighter;
  margin-bottom: 8px;
}
.link {
  color: #64ccc5;
  font-family: "Sometype Mono", monospace;
  font-weight: lighter;
  margin-left: 140px;
  margin-bottom: 50px;
}
.bagging {
  color: grey;
  font-family: "Sometype Mono", monospace;
  /* position: absolute; */
  bottom: 10px;
  left: 50%;
  /* transform: translateX(-50%); */
}
.histogram {
  /* margin-top: 120px; */
  width: 90%;
  /*background-color: rgba(150,90,80,0.2);*/
  /*border-radius: 10px;*/
  /*margin-left: 30px;*/
}
.his {
  position: center;
  /*margin-top: 150px;*/
  margin-left: 100px;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* You might need to adjust the height */
}

.data_textBox {
  /* margin-top: 150px; */
  left: 50px;
  width: 100px;
  height: 400px;
  resize: none;
  border-radius: 5px;
  border-color: transparent;
  justify-items: center;
  color: white;
  background-color: transparent;
  border-style: groove;
  text-decoration-color: white;
  padding-left: 10px;
  padding-top: 5px;
  background-image: repeating-linear-gradient(
      -51deg,
      #ffffff,
      #ffffff 25.8px,
      transparent 30px,
      transparent 47.2px,
      #ffffff 50px
    ),
    repeating-linear-gradient(
      39deg,
      #ffffff,
      #ffffff 25.8px,
      transparent 30px,
      transparent 47.2px,
      #ffffff 50px
    ),
    repeating-linear-gradient(
      129deg,
      #ffffff,
      #ffffff 25.8px,
      transparent 30px,
      transparent 47.2px,
      #ffffff 50px
    ),
    repeating-linear-gradient(
      219deg,
      #ffffff,
      #ffffff 25.8px,
      transparent 30px,
      transparent 47.2px,
      #ffffff 50px
    );
  background-size: 1px calc(100% + 79.45px), calc(100% + 79.45px) 1px,
    1px calc(100% + 79.45px), calc(100% + 79.45px) 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  animation: borderAnimation2 0.9s infinite linear;
}
@keyframes borderAnimation2 {
  from {
    background-position: 0 0, -79.45px 0, 100% -79.45px, 0 100%;
  }
  to {
    background-position: 0 -79.45px, 0 0, 100% 0, -79.45px 100%;
  }
}


.right_part {
  flex-grow: 1; /* Takes up the remaining space */
  flex-shrink: 1; /* Allows shrinking if necessary */
  width: calc(100% - 600px); /* Adjust the width dynamically */
  max-width: calc(
    100% - 600px
  ); /* Ensure it does not exceed the calculated width */
  box-sizing: border-box; /* Includes padding and border in the width */
  background-color: rgba(56,57,58,0.3);
  margin-top: 30px;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 50px;
}

.main_content {
  margin-top: 20px;
  display: flex;
  /* overflow-x: auto; */
}
.text-area {
  /* display: grid; */
  /* align-items: center; 방향이 row 기준: 세로 중앙 정렬 */
  /*background:transparent;*/
  display: flex;
  align-items: center;
  flex-direction: column;
}
.apply {
  width: 100%;
  margin-top: 10px;
  color: white;
  font-family: "Sometype Mono", monospace;
  border: transparent;
  background-color: transparent;
  padding: 6px;
  background-image: repeating-linear-gradient(
      -24deg,
      #ffffff,
      #ffffff 16px,
      transparent 16px,
      transparent 36px,
      #ffffff 36px
    ),
    repeating-linear-gradient(
      66deg,
      #ffffff,
      #ffffff 16px,
      transparent 16px,
      transparent 36px,
      #ffffff 36px
    ),
    repeating-linear-gradient(
      156deg,
      #ffffff,
      #ffffff 16px,
      transparent 16px,
      transparent 36px,
      #ffffff 36px
    ),
    repeating-linear-gradient(
      246deg,
      #ffffff,
      #ffffff 16px,
      transparent 16px,
      transparent 36px,
      #ffffff 36px
    );
  background-size: 2px 100%, 100% 2px, 2px 100%, 100% 2px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}
.apply:hover {
  width: 100%;
  margin-top: 10px;
  color: lightcoral;
  font-family: "Sometype Mono", monospace;
  font-size: medium;
  border: transparent;
  background-color: transparent;
  padding: 6px;
  background-image: repeating-linear-gradient(
      -34deg,
      #f08080,
      #f08080 10.24px,
      transparent 16px,
      transparent 28.8px,
      #f08080 36px
    ),
    repeating-linear-gradient(
      56deg,
      #f08080,
      #f08080 10.24px,
      transparent 16px,
      transparent 28.8px,
      #f08080 36px
    ),
    repeating-linear-gradient(
      146deg,
      #f08080,
      #f08080 10.24px,
      transparent 16px,
      transparent 28.8px,
      #f08080 36px
    ),
    repeating-linear-gradient(
      236deg,
      #f08080,
      #f08080 10.24px,
      transparent 16px,
      transparent 28.8px,
      #f08080 36px
    );
  background-size: 2px calc(100% + 43.42px), calc(100% + 43.42px) 2px,
    2px calc(100% + 43.42px), calc(100% + 43.42px) 2px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  animation: borderAnimation3 0.9s infinite linear;
}
@keyframes borderAnimation3 {
  from {
    background-position: 0 0, -43.42px 0, 100% -43.42px, 0 100%;
  }
  to {
    background-position: 0 -43.42px, 0 0, 100% 0, -43.42px 100%;
  }
}
