.App {
  text-align: center;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.left_part {
  width: 350px; /* Fixed width for the left part */
  flex-shrink: 0;
  margin-left: 30px;
  margin-right: 50px;
  margin-top: 30px;
  background: rgba(133, 133, 148, 0.1);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (min-width: 975px) {
  .Main {
    display: flex;
    flex-wrap: nowrap;
    width: 100%; /* Ensures that the Main container spans the full width */
    box-sizing: border-box;
    flex-grow: 1;
  }
}

@media (max-width: 975px) {
  .Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }
  .Main .right_part {
    flex-grow: 1; /* Takes up the remaining space */
    flex-shrink: 1; /* Allows shrinking if necessary */
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; /* Includes padding and border in the width */
    padding-left: 50px;
    padding-right: 50px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.description-contents {
  justify-content: center;
}
::-webkit-scrollbar {
  width: 17px;
} /*전체의 width값*/
::-webkit-scrollbar-thumb {
  background-color: #61dafb; /*막대의 색상 지정*/
  border-radius: 12px;
  /*thunb와 track사이의 공간 만들기(padding과 margin은 적용X)*/
  background-clip: padding-box;
  border: 3px solid transparent;
}
body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 1); /*배경 컬러지정*/
}
::-webkit-scrollbar-corner {
  background-color: transparent;
  border: none;
}
.description {
  font-family: "Roboto Mono", monospace;
  color: #8da890;
  text-align: justify;
  width: 100%;
  border: #1b1b1b;
  border-style: solid;
  border-left: transparent;
  border-right: transparent;
  /*background-color: rgba(27,27,27,0.7);*/
  padding-bottom: 4px;
  padding-top: 4px;
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
  /*border-radius: 10px;*/
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.description2 {
  font-family: "Roboto Mono", monospace;
  color: #8da890;
  text-align: justify;
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  height: 180px;
  overflow: scroll;
  border-top: #1b1b1b;
  border-style: solid;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
  padding-top: 4px;
  word-spacing: 3px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Main {
  /* display: flex; */
}
.Title-Wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.File_name {
  margin-top: 55px;
  /* position: absolute; */
  color: #00c6b2;
  font-size: x-large;
  font-family: "Roboto Mono", monospace;
}
.empty_file_name {
  min-height: 86.5px;
}
.title {
  margin-bottom: 10px;
  color: #00c6b2;
  font-size: 35px;
  font-family: "Kiwi Maru", serif;
  font-weight: lighter;
}
.tab {
  display: inline-block;
  margin-left: 3.3em;
}

.sub-title {
  margin-top: 0px;
  margin-left: 90px;
  font-size: xx-large;
  white-space: pre-line;
  color: #64ccc5;
  font-family: "Sometype Mono", monospace;
  font-weight: lighter;
  margin-bottom: 8px;
}
.link {
  color: #64ccc5;
  font-family: "Sometype Mono", monospace;
  font-weight: lighter;
  margin-left: 140px;
  margin-bottom: 50px;
}
.bagging {
  color: grey;
  font-family: "Sometype Mono", monospace;
  /* position: absolute; */
  bottom: 10px;
  left: 50%;
  /* transform: translateX(-50%); */
}
.histogram {
  /* margin-top: 120px; */
  width: 90%;
  /*background-color: rgba(150,90,80,0.2);*/
  /*border-radius: 10px;*/
  margin-left: 30px;
}
.his {
  position: center;
  /*margin-top: 150px;*/
  margin-left: 100px;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* You might need to adjust the height */
}

.data_textBox {
  /* margin-top: 150px; */
  left: 50px;
  width: 100px;
  height: 436px;
  resize: none;
  border-radius: 10px;
  border-color: transparent;
  justify-items: center;
  padding-left: 10px;
  padding-top: 10px;
  color: white;
  background-color: rgba(56, 57, 58, 0.6);
  border-style: groove;
}

.right_part {
  flex-grow: 1; /* Takes up the remaining space */
  flex-shrink: 1; /* Allows shrinking if necessary */
  width: calc(100% - 520px); /* Adjust the width dynamically */
  max-width: calc(
    100% - 520px
  ); /* Ensure it does not exceed the calculated width */
  box-sizing: border-box; /* Includes padding and border in the width */
  background-color: rgba(56, 57, 58, 0.3);
  margin-top: 30px;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.main_content {
  margin-top: 20px;
  display: flex;
  /* overflow-x: auto; */
}
.text-area {
  /* display: grid; */
  /* align-items: center; 방향이 row 기준: 세로 중앙 정렬 */
  /*background:transparent;*/
  display: flex;
  align-items: center;
  flex-direction: column;
}

.glitch-btn {
  margin-top: 4px;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 14px;
  padding: 13px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  outline: none;
  text-decoration: none;
  text-align: center;
  vertical-align: bottom;
  display: block;
  width: 100%;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}



#workarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1e1a3e;
  font-family: Raleway;
}

#personal {
  color:white;
  text-decoration:none;
  position:absolute;
  bottom:15px;
  right:2%;
}
/*    start code for the actual button:         */


/*
    Spot is the span on the inside of the href that
    fills the parent and makes the hover and link work
    for the entire div
*/

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.svg-wrapper {
  margin-top: 5px;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: "Roboto Mono", sans-serif;
}
/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: white;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}
/*
    Pushing the text up into the SVG. W

 */

svg text {
  font-size: 16px; /* adjust as necessary */
  pointer-events: none; /* ensures the rect gets the click events */
}
.text {
  margin-top: -35px;
  text-align: center;
}

.text a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}
/*
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06D6A0;
}
